# Make Parser3 the html page handler
AddHandler parser3-handler html

# Route correctly
RewriteEngine On
RewriteRule ^([\w\d]+)$ /board/?board=$1 [QSA]
RewriteRule ^([\w\d]+)\/catalogue$ /board/catalogue.html?board=$1 [QSA]
RewriteRule ^([\w\d]+)\/thread\/(\d+)$ /board/thread/?board=$1&thread=$2 [QSA]