.subject {
	color: red;
	font-weight: bold;
}

.name {
	color: green;
	font-weight: bold;
}

.imageExpander {
	display: none;
}

.imageExpander:checked + label > .thumbnail {
	display: none;
}

:not(.imageExpander:checked) + label > .fullImage {
	display: none;
}

.thumbnail {
	float: left;
}

hr {
	clear: both;
}

div.post {
	margin: 4px 0;
	overflow: hidden;
}

div.reply {
	background-color: peachpuff;
	border: 1px solid lightsalmon;
	border-left: none;
	border-top: none;
	display: table;
	padding: 2px;
}

body {
	background-color: floralwhite;
}