/* GENERIC */

body {
	background-color: floralwhite;
	color: maroon;
	font-family:Arial, Helvetica, sans-serif;
}

hr {
	clear: both;
}

a, .link {
	text-decoration: none;
	display: inline-block;
}

a:hover, .link:hover {
	color: red;
}

/* POST ATTRIBUTES */

div.post {
	margin: 4px 0;
	overflow: hidden;
}

div.reply {
	background-color: peachpuff;
	border: 1px solid lightsalmon;
	border-left: none;
	border-top: none;
	display: table;
	padding: 2px;
}

.subject {
	color: red;
	font-weight: bold;
}

.name {
	color: green;
	font-weight: bold;
}

.postNum a {
	color: maroon;
}

.fileDeleted {
	color: darkred;
}

.imageExpander, .postExpander {
	display: none;
}

.imageExpander:checked + label > .thumbnail {
	display: none;
}

.imageExpander:not(:checked) + label > .fullImage {
	display: none;
}

.postExpander:checked ~ label > .expandText {
	display: none;
}

.postExpander:not(:checked) ~ label > .hideText {
	display: none;
}

.postExpander:not(:checked) ~ .hiddenPost {
	display: none;
}

.sticky {
	color: darkgreen;
}

.greentext {
	color: forestgreen;
}

.thumbnail {
	float: left;
}

.fullImage {
	max-width: 100%;
}

/* CATALOGUE */

.catalogueThread {
	vertical-align: top;
	display: inline-block;
	width: 10rem;
	overflow: hidden;
}

.catalogueThread img{
	max-width: 100%;
	max-height: 150px;
}

